body {
  background-color: olive;
}

.containar_posts {
  background-color: tomato;
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 20px;
}

.post {
  border: solid 1px black;
}

.container_img_post {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.container_img_post > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}